<h1> Create a new book discussion for your club </h1> 

<% if @user.meetings_attended > 1 || @user.admin %>
	
	<%= form_for @meeting do |f| %>
		Meeting date and Time: <%= f.datetime_field :time %><br>
		Meeting place <%= f.text_field :place %><br>
		Select a book to read: <%= collection_select(:meeting, :book_id, Book.all, :id, :title, prompt: true) %><br> 
		Don't see a book you like? <%= link_to 'Add your book', new_book_path %><br>

		<%= fields_for @book do |fb| %>
       <%= fb.label 'Title:'%>
       <%= fb.text_field :title %><br>
       <%= fb.label 'Author:' %>
       <%= fb.text_field :author %><br>
       <%= fb.label 'Genre:' %>
       <%= fb.text_field :genre %><br>
       <%= fb.label 'Description' %>
       <%= fb.text_field :description %><br>
       <%= fb.label 'Length (number of pages):' %>
        <%= fb.text_field :length_in_pages %><br>
    <% end %>

  <%= f.submit %>

	<% end %>
<% else %>

	<div> You have to attend at least 2 meetings before you can create one for your group! Look through a list of available meetings to attend. </div>

	<%= link_to "See all Meetings", meetings_path %>
	

<% end %>