<% if @meeting.group_id == @user.group_id %>
	<h1> Meeting for <i><%= @book.title %></i></h1>
	<br>
	Book: <%= link_to @book.title, book_path(@book) %><br>
	Meeting Time: <%= @meeting.time %><br>
	Meeting Location: <%= @meeting.place %><br>
	Members in Attendance: 
	<% @attendees.each do |user|  %>
	<li><%= link_to user.name, user_path(user) %></li>
	<% end %>
	<br>
	
	<% if MeetingUser.find_by(user: @user, meeting: @meeting) %>
		<div>
			<%= link_to "Unattend this meeting!", unattend_meeting_path(@meeting) %>
		</div>
	<% else %>
		<div>
			<%= link_to "Attend this meeting!", attend_meeting_path(@meeting) %>
		</div>
	<% end %>



<% else %>
	<h1>You do not have access to this meeting</h1>
	<%= link_to "Return to your group's meetings", meetings_path %>
<% end %>



