<h1> Create a new Group </h1> 
 <%= form_for @group do |f| %>
 	<%= f.label "Name" %>
 	<%= f.text_field :name %>
 	<br>
 	<%= f.label "Max Group Size" %>
 	<%= f.number_field :size %>
 	<br>
 	<%= f.label "How often does this group meet?" %>
 	<%= f.text_field :frequency_of_meeting %>
 	<br>
 	<%= f.label "What genre of books does it read?" %>
 	<%= f.text_field :genres_read %>
 	<br>
 	<%= f.submit 'Create your group!' %>
 	<% end %>