
<% if @group.id == @user.group_id %>
	<h1><%= @group.name %></h1>



	<p>Number of Members: <%= @group.size %></p> 
	<br> 
	<p>This group meets: <%= @group.frequency_of_meeting %></p>
	<br>
	<p>This group reads mainly: <%= @group.genres_read %></p> 
	<br>
	<%= link_to "See all meetings for this group", meetings_path %><br>


	<h3>Here are the current members of the group:</h3>
	<ul>
	<% @group_users.each do |user| %>
		<li><%= link_to user.name, user_path(user) %></li>
	<% end %>
	</ul>

	<% if @user.admin %>
		<div>
		<%= @group.name %> 
			<%= link_to "Edit your group", edit_group_path %><br>
		 <%= link_to "Delete your group", @group, method: :delete, data: { confirm: "Really?" } %>
		</div>
	<% end %>

<% else %>
	
	<h1>Sorry, you are not a member of this group.</h1>
	<%= link_to "Go to your profile to find your group", user_path(@user) %>
<% end %>
