<h1>Become an Admin for your Group</h1>

<%= form_for @user do |f| %>
	User Name: <%= f.text_field :name %><br>
	Select your group: <%= collection_select(:user, :group_id, Group.all, :id, :name, prompt: true) %><br>
	You are the Admin: <%= f.check_box :admin, {checked: true} %><br>
	Email Address: <%= f.text_field :email %><br>
	Password: <%= f.password_field :password %><br>
	Confirm Password: <%= f.password_field :confirm_password %><br>
	<%= f.submit %>
<% end %>

