<% if session[:user_id] == @user.id %>

	<h1><%= "Hello, #{@user.name}!" %></h1>
	<div>
	<ul>
		<li>Email Address: <%= @user.email %></li>
		<li>Book Club Group: <%= @group.name %></li>
		<li>Meetings Attended: <%= @user.meetings_attended %></li>
		<% if @user.admin %>
			<li>You are the admin for this group. </li>
		<% end %>
	</ul>
	</div>

	<div>
	<ul>
		<h3>Past meetings you have attended:</h3>
		<% @meetings.each do |meeting| %>
		<li><%= link_to meeting.name, meeting_path(meeting) %></li>
		<% end %>
	</ul>
	</div>


	<%= link_to "Edit Profile", edit_user_path(@user) %><br>
	<%= link_to "Log Out", logout_path, method: 'POST' %><br>
	<%= link_to "Delete Account & Become Illiterate", @user, method: :delete, data: { confirm: "Really?" } %>

	<br>
	<%= link_to "See your group", group_path(@group) %><br>

<% else %>

	<h1>This isn't you!</h1>
	<%= link_to "Return to your profile", user_path(session[:user_id]) %>

<% end %>