<h1><%= @book.title.split.map(&:capitalize).join(' ') %></h1><br>

Author: <%= @book.author %><br>
Genre: <%= @book.genre %><br>
Description: <%= @book.description %><br>
Length: <%= @book.length_in_pages %> pages <br><br>

<%= link_to "Edit this book", edit_book_path(@book) %><br>

<% if !WishlistBook.find_by(book: @book) %>
	<%= link_to("Add to your group's wishlist!", add_to_wishlist_path(@book)) %><br>
<% end %>

<%= link_to("Return to the catalogue", books_path) %><br><br>

<%= link_to("Create a discussion meeting for this book", new_meeting_path) %>
