<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>, you have a book club meeting coming up.</h1>
    <p>
      <%= @group.name %> is meeting to discuss <%= @meeting.book.title %> on <%= @meeting.email_time %> at <%= @meeting.place %>. <br>
    </p>
    <p>Looking forward to discussing the book with you!</p>
  </body>
</html>


