<!DOCTYPE html>


<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Book Clubbr
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if logged_in %>
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= group_path(user_group) %>"><%= user_group.name %> Profile <span class="sr-only">(current)</span></a></li>
        <li><a href="<%= meetings_path %>">Meetings</a></li>
        <li><a href="<%= books_path %>">Books</a></li>
        <li><a href="<%= wishlist_path(user_wishlist) %>">Wishlist</a></li>
          </ul>
      
        </li>
      </ul>
    <% end %>  
      <% if logged_in %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= user_path(logged_in_user) %>">Happy Reading, <%= logged_in_user.name %>!</a></li>
          <li><%= button_to "Logout", logout_path, method: :post %></li>
        </ul>
      <% else %>
                <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= login_path %>">Sign In</a></li>
        </ul>
      <% end %>  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
    <%= image_tag "bg.jpg", size: "375x550", style: "float :right" %>
    <%= yield %>
</div>
  </body>
</html>
